*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.enable-theme:has(nav.navbar #theme-checkbox:checked) {
  --bg-page: #121212;
  --bg-container: #121212;
  --bg-container-hover: #1e1e1e;
  --border-color-hover: rgba(255, 255, 255, 0.65);
  --text-col: #ffffff;
  --item-text-col: rgba(255, 255, 255, 0.5);
  --item-text-col-hover: #ffffff;
}

.enable-theme {
  --bg-page: #f5f5f5;
  --bg-container: #f5f5f5;
  --bg-container-hover: #ffffff;
  --border-color-hover: rgba(0, 0, 0, 0.5);
  --text-col: #000000;
  --item-text-col: rgba(0, 0, 0, 0.65);
  --item-text-col-hover: #000000;
}

body {
  background-color: var(--bg-page);
  --border-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.etr-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.cusborder,
.cusborder-no-hover {
  border: 1px solid var(--border-color);
}

.cusborder:hover {
  border-color: var(--border-color-hover);
}

.etr-corner {
  border-radius: 0.25rem;
}

nav.navbar {
  height: auto;
  width: 100%;
  background-color: var(--bg-container);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: var(--text-col);
  transition: 0.3s;
}

#theme-checkbox {
  display: none;
}

#theme-label {
  font-size: 1.5rem;
}

.indexlist {
  height: auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  color: var(--item-text-col);
  text-decoration: none;
  transition: 0.3s;
}

.item:hover {
  color: var(--item-text-col-hover);
}

.item-container {
  height: auto;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bg-container);
  transition: 0.3s;
  display: grid;
  grid-template-columns: 7fr 2fr 2fr auto;
  column-gap: 0.5rem;
  transition: 0.3s;
}

.name,
.size,
.date,
.icon {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.name {
  justify-self: start;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
}

.size,
.date {
  place-self: center;
  font-size: 0.82rem;
}

.icon {
  justify-self: end;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  width: 1.5rem;
  text-align: center;
}

@media all and (max-width: 768px) {
  .item-container {
    grid-template-columns: 1fr auto;
  }

  .name {
    grid-row: 1 / 1;
    font-size: 1.25rem;
  }

  .size {
    grid-column: 1 / 2;
    justify-self: start;
    font-size: 0.75rem;
  }

  .date {
    grid-column: 2 / 2;
    justify-self: end;
    font-size: 0.75rem;
  }

  .icon {
    grid-row: 1 / 2;
    justify-self: center;
    font-size: 1.25rem;
  }
}

.item-container:hover {
  background-color: var(--bg-container-hover);
}